{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dust/home.css' %}">
    <div class="row">
        <div class="col-md-6">]
             <div class="search">
                <form method="post" action="{% url 'dust:search' %}">
                    {% csrf_token %}
                    <input type="text" name="query" placeholder="Search District" />
                  </form>
            </div>
            <div class="box">
                {% for i in indoor %}
                    <div class="inner_block">
                        <h4>{{i.place}}</h4>
                        <p>Outdoor PM 2.5 : </p>
                            <h5 id="outdoor_pm_value{{ forloop.counter }}">{{i.outdoor.pm2_5}}</h5>
                        <p>Indoor PM 2.5 : </p>
                            <h5 id="indoor_pm_value{{ forloop.counter }}">{{i.pm2_5}}</h5>
                        <div class="detail">
                            <form action="{% url 'dust:detail' i.pk %}" method="get">
                                <input type="submit" value="More Detail">
                            </form>
                        </div>
                    </div>
                    <script>
                        var outdoor_pm = "{{ i.outdoor.pm2_5 }}";
                        var indoor_pm = "{{ i.pm2_5 }}";

                        function getClass(pm) {
                            if (pm >= 0 && pm <= 25) {
                                return "verygood";
                            } else if (pm >= 26 && pm <= 50) {
                                return "good";
                            } else if (pm >= 51 && pm <= 100) {
                                return "moderate";
                            } else if (pm >= 101 && pm <= 150) {
                                return "unhealthy";
                            } else {
                                return "veryunhealthy";
                            }
                        }

                        var outdoor_pm_element = document.getElementById("outdoor_pm_value{{ forloop.counter }}");
                        outdoor_pm_element.className = getClass(outdoor_pm);

                        var indoor_pm_element = document.getElementById("indoor_pm_value{{ forloop.counter }}");
                        indoor_pm_element.className = getClass(indoor_pm);
                    </script>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="map" id="map"></div>
            <div class="mode_toggle">
                <form method="post" id="toggle" action="{% url 'dust:indoormode' %}">
                    {% csrf_token %}
                    <label class="switch">
                      <input type="checkbox" name="switch" velue='yes' onchange="document.getElementById('toggle').submit()"
                             {% if mode == 'indoor' %}
                                checked
                             {% endif %}>
                      <span class="slider round"></span>
                    </label>
                </form>
                <p>Indoor air quality map mode.</p>
            </div>
        </div>
    </div>



{% endblock %}
