{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dust/home.css' %}">
    <div class="row">
        <div class="col-md-6">]
            <div class="box">
                {% for i in indoor %}

                    <div class="inner_block">
                        <h4>{{i.place}}</h4>
                        <p>Outdoor PM 2.5 : </p>
                            <h5 id="outdoor_pm_value{{ forloop.counter }}">{{i.outdoor.pm2_5}}</h5>
                        <p>Indoor PM 2.5 : </p>
                            <h5 id="indoor_pm_value{{ forloop.counter }}">{{i.pm2_5}}</h5>
                    </div>
                    <script>
                        var outdoor_pm = "{{ i.outdoor.pm2_5 }}";
                        var indoor_pm = "{{ i.pm2_5 }}";

                        function getClass(pm) {
                            if (pm >= 0 && pm <= 25) {
                                return "verygood";
                            } else if (pm >= 26 && pm <= 50) {
                                return "good";
                            } else if (pm >= 51 && pm <= 100) {
                                return "moderate";
                            } else if (pm >= 101 && pm <= 150) {
                                return "unhealthy";
                            } else {
                                return "veryunhealthy";
                            }
                        }

                        var outdoor_pm_element = document.getElementById("outdoor_pm_value{{ forloop.counter }}");
                        outdoor_pm_element.className = getClass(outdoor_pm);

                        var indoor_pm_element = document.getElementById("indoor_pm_value{{ forloop.counter }}");
                        indoor_pm_element.className = getClass(indoor_pm);
                    </script>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5">
            <div id="map" style="width: 45vw; height: 35vw; margin-top: 1vw;"></div>
        </div>
    </div>

    <script>
        function initMap() {
        var districts = JSON.parse("{{district|escapejs}}");
        var pm = JSON.parse("{{outdoor_pm|escapejs}}");
        let map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 13.736717, lng: 100.523186 },
            zoom: 10,
            disableDefaultUI: true // Remove default UI controls
        });

        for (var i = 0; i < districts.length; i++) {
            var color = assign_color(pm[i])
            let marker = new google.maps.Marker({
                position: new google.maps.LatLng(districts[i][0], districts[i][1]),
                icon: 'http://maps.google.com/mapfiles/ms/icons/' + color + '-dot.png'
            });
            marker.setMap(map);
        }
        function assign_color(result){
    var color;
    if (result == -1) {
        color = "pink";
    }
    else if (result >= 0 && result <= 25) {
        color = "blue";
    }
    else if (result >= 26 && result <= 50) {
        color = "green";
    }
    else if (result >= 51 && result <= 100) {
        color = "yellow";
    }
    else if (result >= 101 && result <= 150) {
        color = "orange";
    }
    else {
        color = "red";
    }
    return color;
}

        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD9vS77EnFLsw_LgezWGdoggsRqSvbvxw&callback=initMap">
    </script>
{% endblock %}
