.box{
    display: flex;
    border: 3px solid #12E1B9;
    width: 40vw;
    height: 90%;
    flex-direction: column;
    margin-left : 7vw;
    margin-top: 20px;
    color: white;
    overflow-x: auto;
}
.header{
    display: flex;
}
.header h1{
    margin-right: 20px;
}

.inner_block{
    margin-left: 5%;
    margin-top: 5%;
}
.search input{
    margin-left: 7vw;
    width: 40vw;
}

.inner_block h5{
    color: #12E1B9;
    margin-right: 10px;
}
.indoor{
    display: flex;
}
.good{
    color: #85ED00;
}
.verygood{
    color: #00C9ED;
}
.moderate{
    color: #E8ED00;
}
.unhealthy{
    color: #ED9500;
}
.veryunhealthy{
    color: #ED4000;
}
.map{
    width: 45vw;
    height: 35vw;
    margin-top: 1vw
}

@media (max-width: 750px) {
    .box {
        width: 80vw;
        height: 30vw;
    }
    .map{
        margin-left: 10%;
        width: 80vw;
        hight: 45%;

    }
    .search input{
        width: 80vw;
    }
  }