.box{
    display: flex;
    border: 3px solid #12E1B9;
    width: 40vw;
    height: 90%;
    flex-direction: column;
    margin-left : 7vw;
    margin-top: 20px;
    color: white;
    overflow: auto;
}
.search input{
    margin-left: 7vw;
    width: 40vw;
}
.map{
    width: 45vw;
    height: 35vw;
    margin-top: 1vw
}
@media (max-width: 750px) {
    .box {
        width: 80vw;
        height: 30vw;
    }
    .map{
        margin-left: 10%;
        width: 80vw;
        hight: 45%;

    }
    .search input{
        width: 80vw;
    }
  }

.inner_block{
    padding: 10px;
    border: 2px solid #12E1B9;
    display: flex;
    width: 700px;
    color: #12E1B9;
}
.inner_block:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #FFA0F0;
}

.inner_block p{
    margin-left: 20px;
}

.inner_block h5{
    margin-left: 10px;
}
.detail input{
    margin-left: 15px;
    border: 2px solid #12E1B9;
    color: #12E1B9;
    background-color: transparent;
}
.detail input:hover{
    color: #3b53d3;
    background-color: rgba(12, 19, 66, 1);
    border-color:#3b53d3;
}


.good{
    color: #85ED00;
}
.verygood{
    color: #00C9ED;
}

.moderate{
    color: #E8ED00;
}
.unhealthy{
    color: #ED9500;
}
.veryunhealthy{
    color: #ED4000;
}
