.bar{
    color: white;
    margin-left: 10%;
    margin-top: 25px;
}

.bar p{
    margin-left: 50px;
}

.logo-container{
    display: inline-block;
    display: flex;
}

.logo-container img {
    margin-top: 5px;
    margin-right: 10px;
}

.link{
    display: flex;
    margin-top: 45px;
}
.link input{
    width: 20vw;
    height: 3vw;
    border: 2px solid #12E1B9;
    display: flex;
    justify-content: center;
    color: #12E1B9;
    background-color: transparent;
}
.link input:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFA0F0;
    border-color: #FFA0F0;
}
.foot{
    display: flex;
    display: inline-block;
}
.message{
     color: #12E1B9;
     background-color: rgba(255, 255, 255, 0.2)

}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('image/background.png');
    background-size: cover;
    font-family: monospace;
    }

footer p{
    color: #12E1B9;
    margin-top: 1vw;
    margin-left: 5vw;
    font-size: 12px;
}
footer a{
    color: #12E1B9;
    margin-left: 90vw;
    font-size: 20px;
}
footer a:hover{
    color: #FFA0F0;
}
/* The switch - the box around the slider */
.switch {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #12E1B9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #12E1B9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 750px) {
    .link1{
    margin-top: 5vw;
    }
    .link{
        display: flex;
        margin-left: 66vw;
        margin-top: -10vw;
    }
    .link input {
        width: 150px;
        height: 30px;

  }




