.bar{
    color: white;
    margin-left: 10%;
    margin-top: 25px;
}

.bar p{
    margin-left: 50px;
}

.logo-container{
    display: inline-block;
    display: flex;
}

.logo-container img {
    margin-top: 5px;
    margin-right: 10px;
}

.link{
    display: flex;
    margin-top: 45px;
}
.link input{
    width: 20vw;
    height: 3vw;
    border: 2px solid #12E1B9;
    display: flex;
    justify-content: center;
    color: #12E1B9;
    background-color: transparent;
}
.link input:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFA0F0;
    border-color: #FFA0F0;
}
.foot{
    display: flex;
    display: inline-block;
}
.message{
     color: #12E1B9;
     background-color: rgba(255, 255, 255, 0.2)

}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('image/background.png');
    background-size: cover;
    font-family: monospace;
    }

footer p{
    color: #12E1B9;
    margin-left: 5%;
    position: absolute;
    bottom: 5%;
    font-size: 12px;
}
footer a{
    color: #12E1B9;
    position: absolute;
    bottom: 8%;
    right: 10%;
    font-size: 20px;
}
footer a:hover{
    color: #FFA0F0;
}


