.bar{
    color: white;
    margin-left: 10%;
    margin-top: 25px;
}

.bar p{
    margin-left: 50px;
}

.logo-container{
    display: inline-block;
    display: flex;
}

.logo-container img {
    margin-top: 5px;
    margin-right: 10px;
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('image/background.png');
    background-size: cover;
    font-family: monospace;
    }

footer{
    color: #12E1B9;
    margin-left: 5%;
    position: absolute;
    bottom: 5%;
    font-size: 10px;
}